body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* background-image: linear-gradient(to top, #00000022 15%, transparent 100%); */
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #00000022;
}

h1 {
    font-size: 2em;
    color: #333;
    border: 2px solid #333;
    padding: 10px;
    width: fit-content;
    transition: all 0.5s ease;
}

h1:hover {
    color: #0072ff;
    border-color: #0072ff;
    cursor: pointer;
}


.prompt-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

form {
    width: 100%;
    box-sizing: border-box;
}

.entrada {
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 100%;
}

#prompt {
    box-sizing: border-box;
    padding: 5px;
    margin: 0px 0;
    border: 3px solid #00000022;
    border-radius: 5px 0 0 5px;
    border-right: 0px;
    width: 100%;
    height: 50px;
    font-weight: 300;
    resize: none;
}

#prompt:focus {
    outline: none;
    border: 3px solid #000000;
    border-right: 0px;

}

.prompt-box input[type="submit"] {
    box-sizing: border-box;
    margin: 0px 0;
    border: 3px solid #00000022;
    border-radius: 0px 5px 5px 0;
    width: 100%;
    height: 50px;
    font-weight: 300;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.lista-lecturas {
    box-sizing: border-box;
}


.lista-lecturas ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lista-lecturas ul li {
    padding: 10px;
    margin: 10px;
    border: 3px solid #00000022;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #00000022;
}

#subtitle {
    font-size: 1.5em;
    color: #333;
    /* Un gris oscuro para contraste suave */
    text-shadow: 2px 2px 4px #aaa;
    /* Sombra suave para darle profundidad */
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    /* Un poco de espacio entre el título y el formulario */
    text-align: center;
}